<%= form_for(model) do |f| %>
  <% if model.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(model.errors.count, "error") %> prohibited this model from being saved:</h2>

      <ul>
      <% model.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :published %>
    <%= f.date_select :published %>
  </div>

  <div class="field">
    <%= f.label :country %>
    <%= f.text_field :country %>
  </div>

  <div class="field">
    <%= f.label :rate %>
    <%= f.text_field :rate %>
  </div>

  <div class="field">
    <%= f.label :booking_rate %>
    <%= f.number_field :booking_rate %>
  </div>

  <div class="field">
    <%= f.label :num_of_people %>
    <%= f.number_field :num_of_people %>
  </div>

  <div class="field">
    <%= f.label :rank %>
    <%= f.number_field :rank %>
  </div>

  <div class="field">
    <%= f.label :genre %>
    <%= f.text_field :genre %>
  </div>

  <div class="field">
    <%= f.label :running_time %>
    <%= f.number_field :running_time %>
  </div>

  <div class="field">
    <%= f.label :summary %>
    <%= f.text_field :summary %>
  </div>

  <div class="field">
    <%= f.label :people %>
    <%= f.text_field :people %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
