<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>왓차피디아 깃 테스트</title>
</head>

<body>
  <p id="notice"><%= notice %></p>
  <header class="menu-box">
    <div class="menu">
      <div class="menu_left">
        <%= link_to "/", :action =>'go' do %>
        <img class="menu_logo" src="<%=asset_path 'logo.png'%>" />
        <% end%>
        <span class="menu_movie">영화</span>
        <span class="menu_tv">TV 프로그램</span>
        <span class="menu_book">책</span>
      </div>
      <div class="menu_right">
        <div class="menu_search-box">
          <i class="fas fa-search"></i>
          <input class="menu_search" type="text" placeholder="작품 제목,배우,감독을 검색해보세요.">
        </div>


        <% if user_signed_in? %>
          안녕하세요 <strong><%= current_user.nickname %> 님</strong>.
          <br>
          <%= link_to '정보수정', edit_user_registration_path%> |
  
          <%= link_to destroy_user_session_path, method: :delete do %>
          <span class="menu_sign-up">로그아웃</span>
        <% end %>

        <% else %>
          <%= link_to new_user_session_path, :action => 'go' do %>
          <span class="menu_login">로그인</span>
          <% end %>
          <%= link_to new_user_registration_path, :action => 'go' do %>

          <span class="menu_sign-up" id="js-signUp">회원가입</span>
          <% end %>
        <% end %>
        

      </div>
      <div class="pop_sign-up">
        <img src="<%=asset_path 'pop_logo.png'%>" class="pop_logo">
        <span class="pop_title">회원가입</span>
        <form action="">
          <div class="pop_input-box">
            <input type="text" placeholder="이름">
          </div>
          <div class="pop_input-box">
            <input type="text" placeholder="이메일">
          </div>
          <div class="pop_input-box">
            <input type="text" placeholder="비밀번호">
          </div>
        </form>
        <button class="pop_btn">회원가입</button>
        <div class="pop_already">
          <span>이미 가입하셨나요?&nbsp;</span>
          <a href="">
            <span>로그인</span>
          </a>
        </div>
        <span class="pop_or">OR</span>
        <div class="pop_line-box">
          <div class="pop_line"></div>
          <div class="pop_line"></div>
        </div>
        <button class="pop_facebook">
          <i class="fab fa-facebook-square"></i>
          <span>Facebook 으로 로그인</span>
        </button>
      </div>
      <div class="overlay"></div>
    </div>
  </header>
  <main class="first_contents-box contents-box">
    <div class="contents">
      <div class="contents_title">박스오피스</div>
      <div class="type1-contents_contents">
        <% @models.each do |model| %>
        <%= link_to model, :action =>'go' do %>
        <div class="type1-content-box">
          <img src="<%=asset_path 'ironrain.jpg'%>" alt=<%= model.name %>>
          <span class="type1-content_title"><%= model.name %></span>
          <span class="type1-content_year"><%= model.published %> ㆍ <%= model.country %></span>
          <span class="type1-content_star">평균★ <%= model.rate %></span>
          <span class="type1-content_info"><%=model.booking_rate%>% ㆍ 누적 관객<%= model.num_of_people %>명</span>
          <div class="type1-content_number"><%=model.rank%></div>
        </div>
        <% end %>
        <% end %>
      </div>
    </div>
  </main>
  <footer class="footer">
    <div class="small-box ">
      <span class="review">
        지금까지&nbsp;
      </span>
      <span class="review review-red">
        ★ 562,339,084 개의 평가가&nbsp;
      </span>
      <span class="review">
        쌓였어요.
      </span>
    </div>
    <div class="big-box">
      <div class="first-column column">
        <span class="footer_info">
          서비스 이용약관 &nbsp;|&nbsp; 개인정보 처리방침 &nbsp;|&nbsp; 회사 안내
        </span>
      </div>
      <div class="second-column column">
        <span class="footer_info">
          고객센터 &nbsp;|&nbsp; cs@watchapedia.co.kr
        </span>
        <span class="footer_info">
          제휴 및 대외 협력 &nbsp;|&nbsp; contact@watcha.com, 070-7554-9696
        </span>
      </div>
      <div class="third-column column">
        <span class="footer_info">
          주식회사 왓챠 &nbsp;|&nbsp; 대표 박태훈 &nbsp;|&nbsp; 서울특별시 서초구 강남대로 343 신덕빌딩 3층
        </span>
        <span class="footer_info">
          사업자 등록 번호 211-88-66013
        </span>
        <div class="footer_info">
          <img src="<%=asset_path 'footer_logo.png'%>" class="footer_logo">
          <span class="footer_info">© 2011 Watcha. Inc</span>
        </div>
      </div>
    </div>
  </footer>
  <script type="text/javascript">
    const signUp = document.querySelector("#js-signUp");
    const popSignUp = document.querySelector(".pop_sign-up");
    const overlay = document.querySelector(".overlay");
    const body = document.querySelector("body");

    function showSignUp() {
      popSignUp.style.display = "flex";
      overlay.style.display = "block";
    };

    function closePopUp(event) {
      let target = event.target;
      if (target.className == "overlay") {
        popSignUp.style.display = "none";
        overlay.style.display = "none";
      }
    }

    signUp.addEventListener("click", showSignUp);
    body.addEventListener("click", closePopUp);
  </script>
</body>



</html>