<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>왓차피디아 - 클론 코딩 프로젝트</title>
</head>

<body>
    <p id="notice"><%= notice %></p>
    <!-- 메뉴 헤더입니다. -->
    <header class="menu-box">
        <div class="menu">
            <div class="menu_left">
                <%= link_to "/", :action =>'go' do %>
                <img class="menu_logo" src="<%=asset_path 'logo.png'%>" />
                <% end%>
                <span class="menu_movie">영화</span>
                <span class="menu_tv">TV 프로그램</span>
                <span class="menu_book">책</span>
            </div>
            <div class="menu_right">
                <div class="menu_search-box">
                    <i class="fas fa-search"></i>
                    <input class="menu_search" type="text" placeholder="작품 제목,배우,감독을 검색해보세요.">
                </div>
                <span class="menu_login">로그인</span>
                <span class="menu_sign-up" id="js-signUp">회원가입</span>
            </div>

            <!-- 여기는 회원가입 팝업창입니다 -->
            <div class="pop_sign-up">
                <img src="<%=asset_path 'pop_logo.png'%>" class="pop_logo">
                <span class="pop_title">회원가입</span>
                <form action="">
                    <div class="pop_input-box">
                        <input type="text" placeholder="이름">
                    </div>
                    <div class="pop_input-box">
                        <input type="text" placeholder="이메일">
                    </div>
                    <div class="pop_input-box">
                        <input type="text" placeholder="비밀번호">
                    </div>
                </form>
                <button class="pop_btn">회원가입</button>
                <div class="pop_already">
                    <span>이미 가입하셨나요?&nbsp;</span>
                    <a href="">
                        <span>로그인</span>
                    </a>
                </div>
                <span class="pop_or">OR</span>
                <div class="pop_line-box">
                    <div class="pop_line"></div>
                    <div class="pop_line"></div>
                </div>
                <button class="pop_facebook">
                    <i class="fab fa-facebook-square"></i>
                    <span>Facebook 으로 로그인</span>
                </button>
            </div>
            <!-- 여기까지 회원가입 팝업창입니다 -->

            <!-- 팝업창 팝업 시 뒷 배경 어둡게 하는 효과를 위한 박스 -->
            <div class="overlay"></div>
            <!-- 박스는 하나로 끝 -->

        </div>
    </header>
    <!-- 여기까지 메뉴 헤더 -->

    <!-- 메뉴바 밑에 콘텐츠 썸네일 -->
    <div class="thumbnail"></div>
    <!-- 여기까지 썸네일 -->

    <!-- 썸네일 밑에 겹쳐있는 콘텐츠 정보들입니다. -->
    <div class="content_info-box">

        <!-- 왼쪽 포스터입니다. -->
        <div class="left-column">
            <img src="<%=asset_path 'ironrain.jpg'%>" alt="강철비2: 정상회담">
        </div>
        <!-- 여기까지 왼쪽 포스터 -->

        <!-- 포스터 오른쪽 정보들 입니다. -->
        <div class="right-column">
            <!-- 첫번째 줄 -->
            <div class="content_info">
                <span class="gray">예매 순위 · &nbsp;</span>
                <span class="white"><%= @model.rank%>(<%=@model.booking_rate%>%)&nbsp;</span>
                <span class="gray">개봉 ·&nbsp;</span>
                <span class="white">오늘 개봉 &nbsp;</span>
                <span class="gray">누적 관객 · &nbsp;</span>
                <span class="white"><%= @model.num_of_people %></span>
            </div>
            <!-- 첫번째 줄 끝 -->

            <!-- 두번째 줄 작품명 -->
            <div class="content_info">
                <span class="content_title"><%= @model.name %></span>
            </div>
            <!-- 두번째 줄 작품명 끝 -->








            <!-- 세번째 줄 년도, 장르, 나라-->
            <div class="content_info">
                <span class="content_type"><%= @model.published %> · <%= @model.genre %> · <%= @model.country %></span>
            </div>
            <!-- 세번째 줄 년도, 장르, 나라 끝 -->

            <!-- 네번째 줄 평점 -->
            <div class="content_info">
                <span class="content_star">평점 ★ <%= @model.rate %>(690명)</span>
            </div>
            <!-- 네번째 줄 평점 끝 -->

            <!-- 마지막 보고싶어요, 별점 평가하기 -->
            <div class="content_info">
                <!-- 보고싶어요 버튼 -->
                <div class="content_info-left">
                    <div class="content_want-see">
                        <i class="fas fa-plus plus-rotate"></i>
                        <span>보고싶어요</span>
                    </div>
                </div>
                <!-- 보고싶어요 버튼 끝 -->

                <!-- 별점 평가하기 -->
                <div class="content_info-right">
                    <span class="js-leaveStar">평가하기</span>
                    <div class="content_info_star">
                        <div class="star_box star1" value="0.5"></div>
                        <i class="far fa-star real-star1 real-star"></i>
                        <div class="star_box star2" value="1"></div>
                        <div class="star_box star3" value="1.5"></div>
                        <i class="far fa-star real-star2 real-star"></i>
                        <div class="star_box star4" value="2"></div>
                        <div class="star_box star5" value="2.5"></div>
                        <i class="far fa-star real-star3 real-star"></i>
                        <div class="star_box star6" value="3"></div>
                        <div class="star_box star7" value="3.5"></div>
                        <i class="far fa-star real-star4 real-star"></i>
                        <div class="star_box star8" value="4"></div>
                        <div class="star_box star9" value="4.5"></div>
                        <i class="far fa-star real-star5 real-star"></i>
                        <div class="star_box star10" value="5"></div>
                    </div>
                </div>
                <!-- 별점 평가하기 끝 -->

            </div>
            <!-- 여기까지가 마지막 줄에 보고싶어요, 별점 평가하기 끝 -->

        </div>
        <!-- 여기까지 오른쪽 정보들 -->
    </div>
    <!-- 여기까지 영화 정보들 입니다 -->

    <!-- 여기서부터 메인 컨텐츠 박스입니다 -->
    <main class="contents_main-box">
        <div class="contents_middle-box">
            <div>
                <!-- 별점 누르면 나오는 코멘트 창입니다 -->
                <div class="leave-comment-box">
                    <span class="go-leave-comment">
                        이 작품에 대한 준혁 님의 평가를 글로 남겨보세요.
                    </span>
                    <span class="leave-comment">코멘트 남기기</span>
                </div>
                <!-- 여기까지 코멘트 창입니다 -->

                <div class="contents_contents-box">
                    <!-- 첫번째(기본정보) 박스입니다 -->
                    <div class="contents_contents_column">
                        <div>
                            <span class="contents_contents_title">기본 정보</span>

                            <!-- 기본정보 더보기 링크 연결해주세요 -->
                            <a href="">
                                <span class="contents_contents_more">더보기</span>
                            </a>
                            <!-- 여기입니다 -->
                        </div>
                        <span class="contents_contents_name contents_info"><%= @model.name %></span>
                        <span class="contents_contents_info contents_info"><%= @model.published %> ·
                            <%= @model.country %> · <%= @model.genre %></span>
                        <span class="contents_contents_runtime contents_info"><%= @model.running_time %></span>
                        <span class="contents_contents_summary contents_info">
                            <%= @model.summary %>
                        </span>
                    </div>
                    <!-- 첫번째(기본정보) 끝입니다 -->

                    <!-- 두번째(출연/제작) 시작 -->
                    <%=form_tag model_peoples_path(@model) do%>
                    <% if @model.people.present? %>

                    <div class="contents_contents_column">
                        <span class="contents_contents_title">출연/제작</span>
                        <div class="contents_contents_container">
                            <div class="contents_contents_content">
                                <div class="contents_contents_profile">

                                    <% @model.people.each do |person| %>
                                    <%= link_to model_people_path(person), :action =>'go' do %>
                                    <img src="<%asset_path 'yang.jfif'%>" alt="<%=person.name%>" class="profile_img">

                                    <div>
                                        <span class="profile_name"><%=person.name%></span>
                                        <span class="profile_job"><%=person.role%></span>

                                    </div>
                                    <% end %>
                                    <% end %>

                                </div>
                            </div>
                        </div>
                    </div>
                    <% end %>
                    <% end %>
                    <!-- 두번째(출연/제작) 끝 -->

                    <!-- 세번째(별점 그래프) 시작 -->
                    <div class="contents_contents_column">
                        <div>
                            <span class="contents_contents_title">별점 그래프</span>
                            <div>
                                <span class="star_average">평균 ★<%= @model.rate%></span>
                                <span class="star_people">(2,225명)</span>
                            </div>
                        </div>
                        <div class="contents_contents_star-box">
                            <img src="<%=asset_path 'star_graph.png'%>" alt="별점 그래프" class="star-graph">
                        </div>
                    </div>
                    <!-- 세번째(별점 그래프) 끝 -->

                    <!-- 네번째(코멘트) 시작 -->
                    <%=form_tag model_comments_path(@model) do%>
                    <div class="contents_contents_column">
                        <div class="column_column">
                            <div>
                                <span class="contents_contents_title">코멘트</span>
                                <span class="contents_contents_title-number">550+</span>
                            </div>

                            <!-- 코멘트 더보기 링크 연결해주세요 -->
                            <a href="">
                                <span class="contents_contents_more">더보기</span>
                            </a>
                            <!-- 여기입니다 -->

                        </div>

                        <div class="input-field">
                            <%= text_area_tag :c_content, nil, placeholder: "댓글 작성해주세요", require: true%>
                            <input type="submit" value="댓글 쓰기">
                        </div>


                        <% if @model.comments.present? %>
                        <div class="contents_contents_comment-container">
                            <% @model.comments.each do |comment| %>
                            <div class="comment-nemo">
                                <div class="comment_user">
                                    <img src="" alt="" class="comment_user-img">
                                    <span class="user_name"><%= comment.user.nickname%></span>
                                </div>
                                <div class="comment_comment">
                                    <%= comment.c_content %>
                                </div>
                                <div class="comment_feel">
                                    <span class="comment_feel-good">
                                        <i class="fas fa-thumbs-up"></i>
                                        <%=comment.c_like%>
                                    </span>
                                    <div class="comment_feel-comment">
                                        <i class="fas fa-comment"></i>
                                        [여기]
                                    </div>
                                </div>
                                <div class="comment_click-good">좋아요</div>
                            </div>
                            <% end %>
                        </div>
                        <% end %>
                    </div>
                    <% end %>
                    <!-- 네번째(코멘트) 끝 -->

                    <div class="contents_contents_column">
                        <div>
                            <span class="contents_contents_title">이 작품이 담긴 컬렉션</span>
                            <span class="contents_contents_title-number">143</span>
                        </div>
                    </div>
                    <div class="contents_contents_column">
                        <span class="contents_contents_title">비슷한 작품</span>
                    </div>
                </div>
            </div>
            <div class="contents_side-box"></div>
        </div>
    </main>
    <!-- 여기까지 메인 컨텐츠 박스였습니다 -->
    <footer>
        <div class="small-box ">
            <span class="review">
                지금까지&nbsp;
            </span>
            <span class="review review-red">
                ★ 562,339,084 개의 평가가&nbsp;
            </span>
            <span class="review">
                쌓였어요.
            </span>
        </div>
        <div class="big-box">
            <div class="first-column column">
                <span class="footer_info">
                    서비스 이용약관 &nbsp;|&nbsp; 개인정보 처리방침 &nbsp;|&nbsp; 회사 안내
                </span>
            </div>
            <div class="second-column column">
                <span class="footer_info">
                    고객센터 &nbsp;|&nbsp; cs@watchapedia.co.kr
                </span>
                <span class="footer_info">
                    제휴 및 대외 협력 &nbsp;|&nbsp; contact@watcha.com, 070-7554-9696
                </span>
            </div>
            <div class="third-column column">
                <span class="footer_info">
                    주식회사 왓챠 &nbsp;|&nbsp; 대표 박태훈 &nbsp;|&nbsp; 서울특별시 서초구 강남대로 343 신덕빌딩 3층
                </span>
                <span class="footer_info">
                    사업자 등록 번호 211-88-66013
                </span>
                <div class="footer_info">
                    <img src="<%=asset_path 'footer_logo.png'%>" class="footer_logo">
                    <span class="footer_info">© 2011 Watcha. Inc</span>
                </div>
            </div>
        </div>
    </footer>
    <script type="text/javascript">
        const stars = document.querySelectorAll(".star_box");
        const realStars = document.querySelectorAll(".real-star");
        const starBox = document.querySelector(".content_info_star");
        const comment = document.querySelector(".leave-comment-box");
        const leaveStar = document.querySelector(".js-leaveStar");

        // 별을 채우는 함수
        function fillFullStar(value) {
            // 소수점을 각각 배열의 원소로 분리
            value = value.split(".");
            value = value.map(x => parseInt(x));

            // 정수 부분 만큼 채워지는 로직
            for (var i = 0; i < value[0]; i++) {
                realStars[i].classList.remove('far', 'fas', 'fa-star', 'fa-star-half-alt');
                realStars[i].classList.add('fas', 'fa-star');
            }
            // 소수점이 있다면, 반만큼 채우라는 로직
            if (value[1]) {
                realStars[value[0]].classList.remove('far', 'fa-star');
                realStars[value[0]].classList.add('fas', 'fa-star-half-alt');
            }
        }

        // 이벤트 타겟을 확인해서 위 함수를 돌리기 위한 함수.
        function fillStars(event) {
            let value = event.target.getAttribute("value");
            fillFullStar(value);
        }

        // 채워진 별들이 다시 빈 별로 돌아가는 함수.
        function emptyStars(event) {
            let value = event.target.getAttribute("value");
            value = value.split(".");
            value = value.map(x => parseInt(x));
            // 빈 별로 만드는 로직.
            if (value[1]) {
                realStars[value[0]].classList.remove('far', 'fas', 'fa-star-half-alt', 'fa-star');
                realStars[value[0]].classList.add('far', 'fa-star');
            }
        }

        // 5개 별 묶음 박스에서 마우스가 나갈 시에 채워진 별들이 초기화되는 함수.
        function resetStar() {
            for (var i = 0; i < realStars.length; i++) {
                realStars[i].classList.remove("fas", "far", "fa-star-half-alt", "fa-star");
                realStars[i].classList.add("far", "fa-star");
            };
        }

        // 별점을 줬을때 comment 창이 뜨게 하는 함수입니다.
        function showComment(event) {
            let value = event.target.getAttribute("value");
            comment.style.display = "flex";
            fillFullStar(value);
            for (var i = 0; i < stars.length; i++) {
                stars[i].removeEventListener("mouseover", fillStars);
                stars[i].removeEventListener("mouseout", emptyStars);
                stars[i].removeEventListener("click", showComment);
            }
            starBox.removeEventListener("mouseout", resetStar);
            howFeel(value);
            event.target.addEventListener("click", resetFunction);
        }

        function howFeel(value) {
            if (value == "0.5") {
                leaveStar.innerHTML = "최악이에요";
            } else if (value == "1") {
                leaveStar.innerHTML = "싫어요";
            } else if (value == "1.5") {
                leaveStar.innerHTML = "재미없어요";
            } else if (value == "2") {
                leaveStar.innerHTML = "별로에요";
            } else if (value == "2.5") {
                leaveStar.innerHTML = "부족해요";
            } else if (value == "3") {
                leaveStar.innerHTML = "보통이에요";
            } else if (value == "3.5") {
                leaveStar.innerHTML = "볼만해요";
            } else if (value == "4") {
                leaveStar.innerHTML = "재미있어요";
            } else if (value == "4.5") {
                leaveStar.innerHTML = "훌륭해요!";
            } else {
                leaveStar.innerHTML = "최고에요!";
            }
        }

        // 별을 다시 눌렀을때 처음으로 되돌리는 함수입니다.
        function resetFunction() {
            comment.style.display = "none";
            leaveStar.innerHTML = "평가하기";
            for (var i = 0; i < stars.length; i++) {
                stars[i].addEventListener("mouseover", fillStars);
                stars[i].addEventListener("mouseout", emptyStars);
                stars[i].addEventListener("click", showComment);
            };

            starBox.addEventListener("mouseout", resetStar);
        }

        // 반복문과 배열을 이용하여, 위의 함수들을 호출할수 있게끔 addEventListener를 달아줬습니다.
        for (var i = 0; i < stars.length; i++) {
            stars[i].addEventListener("mouseover", fillStars);
            stars[i].addEventListener("mouseout", emptyStars);
            stars[i].addEventListener("click", showComment);
        };

        starBox.addEventListener("mouseout", resetStar);
    </script>
</body>

</html>