<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @model.name %>
</p>

<p>
  <strong>Published:</strong>
  <%= @model.published %>
</p>

<p>
  <strong>Country:</strong>
  <%= @model.country %>
</p>

<p>
  <strong>Rate:</strong>
  <%= @model.rate %>
</p>

<p>
  <strong>Booking rate:</strong>
  <%= @model.booking_rate %>
</p>

<p>
  <strong>Num of people:</strong>
  <%= @model.num_of_people %>
</p>

<p>
  <strong>Rank:</strong>
  <%= @model.rank %>
</p>

<p>
  <strong>Genre:</strong>
  <%= @model.genre %>
</p>

<p>
  <strong>Running time:</strong>
  <%= @model.running_time %>
</p>

<p>
  <strong>Summary:</strong>
  <%= @model.summary %>
</p>

<p>
  <strong>People:</strong>
  <%= @model.people %>
</p>
<br><br>
<div>
  댓글 :<%=@comments_count%>
  
  
  <%=form_tag model_comments_path(@model) do%>
    <div class="input-field">
      <%= text_area_tag :c_content, nil, placeholder: "댓글 작성해주세요", require: true%>
      <input type="submit" value="댓글 쓰기">
    </div>
    
    <div>
    <% if @model.comments.present? %>
      <ul>
        <% @model.comments.each do |comment| %>
        <li>
          <span><%= comment.user.nickname%></span>
          <span><%= comment.created_at%></span>
          <p><%= comment.c_content %></p> like <%=comment.c_like%>
        
          <% if current_user.id == comment.user_id %>
            <%=link_to "삭제", model_comment_path(@model ,comment), method: "delete" %> 
          <% end%>
          
        </li>
        <% end %>
      </ul>
      
      
    <%end%>
    </div>
  <%end %>
</div>
