<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @model.name %>
</p>

<p>
  <strong>Published:</strong>
  <%= @model.published %>
</p>

<p>
  <strong>Country:</strong>
  <%= @model.country %>
</p>

<p>
  <strong>Rate:</strong>
  <%= @model.rate %>
</p>

<p>
  <strong>Booking rate:</strong>
  <%= @model.booking_rate %>
</p>

<p>
  <strong>Num of people:</strong>
  <%= @model.num_of_people %>
</p>

<p>
  <strong>Rank:</strong>
  <%= @model.rank %>
</p>

<p>
  <strong>Genre:</strong>
  <%= @model.genre %>
</p>

<p>
  <strong>Running time:</strong>
  <%= @model.running_time %>
</p>

<p>
  <strong>Summary:</strong>
  <%= @model.summary %>
</p>

<p>
  <strong>People:</strong>
  <%= @model.people %>
</p>

<div>
  <% @comments.each do |c| %>
  <%c.c_content%>
  <%end%>
</div>

<br>

